.container{
    display: flex;
    margin: auto;
    width: 100%;
    max-width: var(--container-md);
}
.container-main{
    margin: auto;
    width: 100%;
    background-color: black;
    height: 400px;
}
.container-main-products{
    width: 100%;
    background-color: black;
}
.container-main-2{
    margin: auto;
    width: 100%;
    height: 180px;
    background-color: blue;
}
.img-container-main{
    margin: auto;
    width: 100%;
    max-width: var(--container-md);
}
.container-footer{
    width: 100%;
    margin: auto;
    max-width: var(--container-md);
    height: 500px;
}
.container-bottom{
    background-color: rgb(67, 67, 67);
    height: 120px;
}
.container-bottom-1{
    width: 50%;
}
